<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.samples.dao.mybatis.mappers.AsignaturaMapper">
        
    
     <resultMap type='edu.eci.pdsw.samples.entities.Asignatura' id='datosAsignatura'>
        <id property="codigo" column="codigo"/>
        <result property="nombre" column="nombre"/>
        <result property="unidadAcademica" column="unidadAcademica"/>
        <result property="profesor" column="profesor_id"/>
        <result property="plandeEstudios" column="plandeestudios_id"/>
        <result property="creditos" column="creditos"/>
    </resultMap>
    
    <select id="allAsig" resultMap="datosAsignatura">
        Select * from Asignatura 
    </select>    
    
    <select id="allByEstud" resultMap="datosAsignatura">
        Select asig.nombre from asignatura asig, estudianteasignatura estu where estu.asignatura_codigo=asig.codigo and estu.estudiante_id=#{nomb}
    </select>
    
                
</mapper>
