<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.pdsw.samples.dao.mybatis.mappers.ConsultaSolicitudCancelacionMapper">
    
    
    <resultMap type='edu.eci.pdsw.samples.entities.Estudiante' id='datosestudiantes'>
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="semestre" column="semestre"/>
        <result property="creditosAprobados" column="creditosAprobados"/>
        <result property="solicitud_cancelacion" column="solicitudCancelacion_id"/>
        <result property="acudiente" column="acudiente_id"/>
        <result property="consejero_academico" column="ConsejeroAcademico_id"/>
    </resultMap>
    
    <select  id="loadAll" resultMap="datosestudiantes" >
        SELECT * FROM Estudiante    
    </select> 

    
    
</mapper>