<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.pdsw.samples.dao.mybatis.mappers.ConsultaSolicitudCancelacionMapper">

    <select parameterType="map" id="loadestud" resultMap="SolicitudCancelacionResult">

        Select id, nombre, apellido, semestre,creditosAprobados, solicitudCancelacion_id, acudiente_id, consejeroAcademico_id from Estudiante where nombre=#{nomb};
        
    </select> 
   
    <resultMap type='Estudiante' id='SolicitudCancelacionResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='apellido' column='apellido'/>       
        <result property='semestre' column='semestre'/>       
        <result property='creditosAprobados' column='creditosAprobados'/>       
        <result property='solicitudcancelacion_id' column='Numero de solicitud'/>       
        <result property='acudiente_id' column='Acudiente'/>       
        <result property='consejeroacademico_id' column='ConsejeroAcamdemico'/>       
        <association property="estudiante" javaType="Estudiante"></association>
        
    </resultMap>
 
</mapper>